USE [TestDbFinal]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 24.05.2023 18:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[Article] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UnitType] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[MaxDiscountAmount] [int] NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Supplier] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CurrentDiscount] [int] NOT NULL,
	[AmountInStock] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Goods] ([Article], [Name], [UnitType], [Price], [MaxDiscountAmount], [Manufacturer], [Supplier], [Category], [CurrentDiscount], [AmountInStock], [Description], [Picture]) VALUES (N'A436H7', N'Туалетная вода', N'шт.', 1000, 15, N'Dilis Parfum', N'Летуаль', N'Мужской парфюм', 4, 12, N'Туалетная вода Dilis Parfum Aqua Cool, 100 мл', N'')
INSERT [dbo].[Goods] ([Article], [Name], [UnitType], [Price], [MaxDiscountAmount], [Manufacturer], [Supplier], [Category], [CurrentDiscount], [AmountInStock], [Description], [Picture]) VALUES (N'C323R4', N'Парфюмерная вода', N'шт.', 4100, 25, N'TRUSSARDI', N'Летуаль', N'Мужской парфюм', 4, 8, N'Парфюмерная вода TRUSSARDI Donna Trussardi (2011), 50 мл', N'')
INSERT [dbo].[Goods] ([Article], [Name], [UnitType], [Price], [MaxDiscountAmount], [Manufacturer], [Supplier], [Category], [CurrentDiscount], [AmountInStock], [Description], [Picture]) VALUES (N'D344Y7', N'Парфюмерная вода', N'шт.', 223, 10, N'Today Parfum', N'Летуаль', N'Женский парфюм', 5, 16, N'Парфюмерная вода Today Parfum Prestige №6 Eclat, 17 мл', N'D344Y7.jpg')
GO
